<header class="header">
	<div class="top">
		<a href="{{ site.url }}" class="logo">
			<img src="https://raw.githubusercontent.com/webpyobum/webpyobum.github.io/master/images/wb-logo_01.png" alt="{{ site.title }}" />
		</a>
		<button class="btn-hamberger" type="button">
			<span class="line line01"></span>
			<span class="line line02"></span>
		</button>			
	</div>
	

	
	<div class="bottom" style="display:none;">
		<nav class="site-nav">
			{% include navigation.html %}
		</nav>
	</div>
</header>
