.die{
	position:absolute;
	left:-9999px;
	width:1px;
	height:1px;
	line-height:0;
}
body{
	-webkit-text-size-adjust:none;	 
	background:#f7f7f7;
	color:#333;
    font-family: 'Apple SD Gothic Neo', 'Apple Gothic', '맑은 고딕', 'Malgun Gothic';	
	font-weight:100;
	font-size:17px;
}
.main{
	position:absolute;
	height:100%;
	width:100%;
	display:table;
} 
.main>.article{
	display:table-cell;
	vertical-align:middle;
	text-align:left;
	padding:20px 0 60px 0;
}
.main>.article .obj{
	width:50%;
	min-width:300px;
	margin:0 auto;
}
.main>.article .obj h1{
	font-size:27px;
	font-weight:900;
	margin-top:0;
	margin-bottom:20px;
	color:#007aff;
	color:#999;
}
.main>.article .obj .para{
	line-height:1.5;
	margin:10px 0;
}
.main>.article .obj .para-justify{
	text-align:justify;	
}
.main>.article .obj .para em{
	text-decoration:underline;
}
.main>.article .obj .para a{
	color:#007aff;
	text-decoration:none;
}
.main>.article .obj .para a:hover{
	text-decoration:underline;
}
.main>.article .obj .date{
	font-size:13px;
	color:#007aff;
	text-align:right;
	margin-top:10px;
}
.main>.article .obj blockquote{
	border-top:1px solid #898C90;
	border-bottom:1px solid #898C90;
	padding:10px 0;
	margin:10px 15px;
	font-style:italic;
	overflow:hidden;
}
.main>.article .obj blockquote cite{
	color:#007aff;
	font-size:12px;
	float:right;
	margin-top:10px;
	margin-right:5px;
}
.footer{
	position:fixed;
	bottom:0;
	right:0;
	width:100%;
	color:#999;
	border-top:1px solid #898C90;

	background:#fff;
	text-align:right;
}
.footer>.inner{
	padding:10px;
	font-size:12px;		
}
.footer a{
	color:#007aff;
	text-decoration:none;
	font-size:12px;	
}
.footer a:hover{
	text-decoration:underline;
}